<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-grow">
    @if (saint) {
    <div class="max-w-screen-xl mx-auto px-4 my-8 flex gap-8">
      <!-- Left Sidebar -->
      <aside class="w-1/4 flex mt-20 flex-col items-center gap-4">
        <img
          [src]="imageBaseUrl + saint.image"
          [alt]="saint.name"
          class="w-full rounded shadow-md"
        />
        <div class="text-sm text-gray-700 w-full text-center">
          <div class="flex justify-center gap-6 mb-2">
            <p><strong>Century:</strong> {{ saint.century | roman }}</p>
            <p>
              <strong>Country:</strong>
              {{ saint.country }}
              <img
                *ngIf="saint.country | countryCode as code"
                [src]="'https://flagcdn.com/w20/' + code + '.png'"
                [alt]="saint.country + ' flag'"
                class="inline-block w-4 h-4 mr-1 object-contain align-text-bottom"
              />
            </p>
          </div>
          <p class="mt-2">{{ saint.description }}</p>
        </div>
      </aside>

      <!-- Main Content -->
      <main class="w-2/4 prose prose-indigo max-w-none">
        <h1 class="text-4xl font-extrabold mb-6 text-center">
          Saint {{ saint.name }}
        </h1>

        <div class="border-b border-gray-300 my-6"></div>

        <div class="markdown-content mt-5" [innerHTML]="markdownContent"></div>
      </main>

      <!-- Right Sidebar -->
      <aside
        class="w-full lg:w-64 border-l border-gray-200 mt-16 pl-4 sticky top-28 hidden lg:block"
      >
        <h3
          class="text-sm font-semibold text-gray-600 uppercase tracking-wide mb-2 mt-8"
        >
          Sections
        </h3>
        <ul class="list-disc list-inside space-y-2 text-sm">
          @for (heading of headings; track $index) {
          <li>
            <a
              (click)="scrollTo(heading.id)"
              class="text-blue-700 hover:text-blue-900 hover:underline cursor-pointer font-medium"
            >
              {{ heading.text }}
            </a>
          </li>
          }
        </ul>
        

        <div class="mt-10">
          <h3
            class="text-sm font-semibold text-gray-600 uppercase tracking-wide mb-2"
          >
            Veja também
          </h3>
          <ul class="list-disc list-inside text-blue-700 hover:text-blue-900">
            <li><a routerLink="/saints">Lista de Santos</a></li>
            <li><a routerLink="/signs">Sinais e Simbolismos</a></li>
            <li><a routerLink="/about">Sobre Nós</a></li>
            <li><a routerLink="/contact">Contato</a></li>
          </ul>
        </div>
      </aside>
    </div>
    } @else {
    <div class="text-center text-lg py-20 text-gray-500">Carregando...</div>
    }
  </main>

  <app-footer></app-footer>
</div>
