@use "@angular/material" as mat;
@import "tailwindcss" important;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #5a2a0c !important; /* marrom avermelhado escuro */
  --color-secondary: #e6d3b3 !important; /* bege claro suave */
  --color-hover: #341705 !important; /* marrom escuro profundo */
  --color-accent: #b8894c !important; /* dourado queimado suave */
  --color-accent-light: #d9a86c !important; /* tom mais claro do accent */
  --color-accent-dark: #8b5e30 !important; /* tom mais escuro do accent */
}

/* Backgrounds */
.bg-primary-app {
  background-color: var(--color-primary);
}

.bg-secondary-app {
  background-color: var(--color-secondary);
}

.bg-hover {
  background-color: var(--color-hover);
}

.hover\:bg-hover:hover {
  background-color: var(--color-hover);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-accent-light {
  background-color: var(--color-accent-light);
}

.bg-accent-dark {
  background-color: var(--color-accent-dark);
}

/* Text */
.text-primary-app {
  color: var(--color-primary);
}

.text-secondary-app {
  color: var(--color-secondary);
}

.text-hover {
  color: var(--color-hover);
}

.text-accent-app {
  color: var(--color-accent);
}

.text-accent-app-light {
  color: var(--color-accent-light);
}

.text-accent-app-dark {
  color: var(--color-accent-dark);
}

.hover\:text-hover:hover {
  color: var(--color-hover);
}

.hover\:text-accent-app:hover {
  color: var(--color-accent);
}

.hover\:text-accent-app-light:hover {
  color: var(--color-accent-light);
}

.hover\:darken:hover {
  filter: brightness(75%);
  transition: filter 0.2s ease;
}

/* Borders */
.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-hover {
  border-color: var(--color-hover);
}

.border-accent {
  border-color: var(--color-accent);
}

.border-accent-light {
  border-color: var(--color-accent-light);
}

.border-accent-dark {
  border-color: var(--color-accent-dark);
}

@layer base {
  a,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none !important;
  }

  a:not(.active):not([class*="text-"]) {
    color: inherit !important;
  }
}

button[disabled] {
  @apply bg-blue-300 cursor-not-allowed opacity-50;
}

button[disabled]:hover {
  @apply bg-blue-300;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.markdown-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entity-manager-dialog {
  min-width: 0 !important;  
  max-width: none !important;
  width: 800px !important;
}

html {
  scroll-behavior: smooth;
}
