@use "@angular/material" as mat;
@import "tailwindcss" important;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #5a2a0c;
  /* marrom avermelhado escuro */
  --color-secondary: #e6d3b3;
  /* bege claro suave */
  --color-hover: #341705;
  /* marrom escuro profundo */
  --color-accent: #b8894c;
  /* dourado queimado suave */
  --color-accent-light: #d9a86c;
  /* tom mais claro do accent */
  --color-accent-dark: #8b5e30;
  /* tom mais escuro do accent */
}

/* Backgrounds */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-hover {
  background-color: var(--color-hover);
}

.hover\:bg-hover:hover {
  background-color: var(--color-hover);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-accent-light {
  background-color: var(--color-accent-light);
}

.bg-accent-dark {
  background-color: var(--color-accent-dark);
}

/* Text */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-hover {
  color: var(--color-hover);
}

.text-accent {
  color: var(--color-accent);
}

.text-accent-light {
  color: var(--color-accent-light);
}

.text-accent-dark {
  color: var(--color-accent-dark);
}

.hover\:text-hover:hover {
  color: var(--color-hover);
}

.hover\:text-accent:hover {
  color: var(--color-accent);
}

.hover\:text-accent-light:hover {
  color: var(--color-accent-light);
}

.hover\:darken:hover {
  filter: brightness(75%);
  transition: filter 0.2s ease;
}

/* Borders */
.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-hover {
  border-color: var(--color-hover);
}

.border-accent {
  border-color: var(--color-accent);
}

.border-accent-light {
  border-color: var(--color-accent-light);
}

.border-accent-dark {
  border-color: var(--color-accent-dark);
}