<header class="border-b shadow-md p-3 w-full max-h-20 pb-5 fixed top-0 z-50 bg-primary">
    <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
        <a routerLink="/" class="flex items-center text-secondary">
            <span class="ml-2 text-2xl font-bold">Signs<span class="text-accent">&</span>Saints</span>
        </a>

        <div class="hidden md:flex gap-4 items-center">
            <a routerLink="/account/register"
                class="py-3 px-6 border text-secondary border-secondary rounded hover:bg-secondary hover:text-primary transition text-lg font-semibold">
                Logout
            </a>
        </div>
    </div>
</header>
<div class="h-20"></div>
  