<div>
    <main class="max-w-screen-xl mx-auto p-6">
        <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <a routerLink="/admin/dashboard"
                class="bg-primary text-secondary rounded-2xl p-6 shadow-md hover:shadow-lg transition text-center font-semibold">
                Dashboard
            </a>
            <a routerLink="/admin/saints"
                class="bg-primary text-secondary rounded-2xl p-6 shadow-md hover:shadow-lg transition text-center font-semibold">
                Manage Saints
            </a>
            <a routerLink="/admin/signs"
                class="bg-primary text-secondary rounded-2xl p-6 shadow-md hover:shadow-lg transition text-center font-semibold">
                Manage Signs
            </a>
            <a routerLink="/admin/users"
                class="bg-primary text-secondary rounded-2xl p-6 shadow-md hover:shadow-lg transition text-center font-semibold">
                Manage Users
            </a>
        </div>
    </main>
</div>

  