<app-header></app-header>

@if(true){

}

<div class="p-4 pt-10 w-full max-w-screen-xl mx-auto">
    <div class="flex flex-wrap justify-between items-center gap-y-4">

        <div class="flex flex-wrap gap-3">
            <mat-form-field appearance="fill" class="min-w-[150px] w-[200px]">
                <mat-label>Group By</mat-label>
                <mat-select>
      
                    <mat-option value="country">Country</mat-option>
                    <mat-option value="century">Century</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="min-w-[150px] w-[200px]">
                <mat-label>Order By</mat-label>
                <mat-select>
                    <mat-option value="name">Name (A-Z)</mat-option>
                    <mat-option value="century">Century (Asc)</mat-option>
                    <mat-option value="-century">Century (Desc)</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="min-w-[150px] w-[200px]">
                <mat-label>Filter By Country</mat-label>
                <mat-select>
                    <mat-option value="">All</mat-option>
                    <mat-option *ngFor="let c of countries" [value]="c">{{ c }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="w-full sm:w-[250px] md:w-[300px] lg:w-[400px]">
            <mat-label>Search</mat-label>
            <input matInput type="text" placeholder="Search saints..." />
        </mat-form-field>

    </div>
</div>

<div class="grid gap-4 p-4 w-full max-w-screen-xl mx-auto grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6">
    @for (saint of saints; track saint.id) {
    <ng-container>
      <mat-card
        (click)="redirectToSaintDetails(saint.slug)"
        class="flex flex-col p-3 rounded-2xl shadow-md hover:shadow-xl transition h-full"
      >
        <div class="flex justify-center mb-2">
          <img
            [src]="imageBaseUrl + saint.image"
            [alt]="saint.name"
            class="w-16 h-16 object-cover rounded-full border border-gray-300"
          />
        </div>
  
        <div class="flex flex-col flex-1 text-center">
          <h3 class="text-sm font-semibold mb-1">{{ saint.name }}</h3>
          <div class="text-xs text-gray-500 mb-1">
            {{ saint.country }} – {{ saint.century | roman }}
          </div>
  
          <p class="text-xs text-gray-600 line-clamp-3 flex-1">{{ saint.description }}</p>
  
        <a [routerLink]="['/saints', saint.slug]"
            class="text-primary font-semibold pt-5 text-xs hover:underline mt-auto inline-block self-center">
            Read More
        </a>

        </div>
      </mat-card>
    </ng-container>
    }
  </div>  

<app-footer></app-footer>
