<header class="border-b shadow-md px-4 py-3 w-full fixed top-0 z-50 bg-primary-app">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
    <a routerLink="/" class="my-auto flex items-center gap-2 h-full">
      <img
        src="assets/SaintsNMiracles-logo.png"
        alt="Logo"
        class="h-16 w-auto my-auto"
      />
      <span class="sr-only">Home</span>
    </a>
    

    <nav
      class="hidden text-secondary-app md:flex gap-6 uppercase text-lg font-semibold"
    >
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Home
      </a>
      <a
        routerLink="/saints"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Saints
      </a>
      <a
        routerLink="/miracles"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Miracles
      </a>
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        About Us
      </a>
      <a
        routerLink="/admin"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Admin
      </a>
    </nav>

    <div class="hidden md:flex gap-4 items-center">
      <a
        routerLink="/account/register"
        class="py-3 px-6 border rounded hover:darken transition text-lg font-semibold text-secondary-app"
      >
        Create Account
      </a>
      <a
        routerLink="/account/login"
        class="py-3 px-6 rounded hover:darken transition text-lg font-semibold"
        style="
          background-color: var(--color-secondary) !important;
          color: var(--color-primary) !important;
        "
      >
        Login
      </a>
    </div>

    <button
      mat-icon-button
      class="md:hidden text-secondary-app hover:darken transition"
      [matMenuTriggerFor]="mobileMenu"
      aria-label="Open menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <mat-menu
    #mobileMenu="matMenu"
    class="bg-primary-app w-48 text-secondary-app"
  >
    <button
      mat-menu-item
      [routerLink]="'/'"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Home
    </button>
    <button
      mat-menu-item
      [routerLink]="'/miracles'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Miracles
    </button>
    <button
      mat-menu-item
      [routerLink]="'/saints'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Saints
    </button>
    <button
      mat-menu-item
      [routerLink]="'/about'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      About Us
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      [routerLink]="'/account/register'"
      class="text-lg bg-hover hover:darken text-secondary-app"
    >
      Create Account
    </button>
    <button
      mat-menu-item
      [routerLink]="'/account/login'"
      class="text-lg font-semibold rounded hover:darken"
    >
      Login
    </button>
  </mat-menu>
</header>

<div class="h-20"></div>
