<header
  class="border-b shadow-md px-4 py-3 w-full fixed top-0 z-50 bg-primary-app"
>
  <div class="relative flex items-center max-w-screen-2xl mx-auto">
    <a routerLink="/" class="my-auto flex items-center gap-2 h-full">
      <img
        src="assets/SaintsNMiracles-logo.png"
        alt="Logo"
        class="h-16 w-auto my-auto"
      />
      <span class="sr-only">Home</span>
    </a>

    <nav
      class="hidden md:flex gap-6 uppercase text-lg font-semibold text-secondary-app absolute left-1/2 transform -translate-x-1/2"
    >
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Home
      </a>
      <a
        routerLink="/saints"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Saints
      </a>
      <a
        routerLink="/miracles"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Miracles
      </a>
      <a
        routerLink="/prayers"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Prayers
      </a>
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        About Us
      </a>
      <a
        routerLink="/admin"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Admin
      </a>
    </nav>

    <!-- Mobile menu button (right) -->
    <button
      mat-icon-button
      class="ml-auto md:hidden hover:darken transition"
      [matMenuTriggerFor]="mobileMenu"
      aria-label="Open menu"
    >
      <mat-icon class="text-secondary-app">menu</mat-icon>
    </button>
  </div>

  <mat-menu
    #mobileMenu="matMenu"
    class="bg-primary-app w-48 text-secondary-app"
  >
    <button
      mat-menu-item
      [routerLink]="'/'"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Home
    </button>
    <button
      mat-menu-item
      [routerLink]="'/miracles'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Miracles
    </button>
    <button
      mat-menu-item
      [routerLink]="'/saints'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Saints
    </button>
    <button
      mat-menu-item
      [routerLink]="'/prayers'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Prayers
    </button>
    <button
      mat-menu-item
      [routerLink]="'/about'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      About Us
    </button>
    <button
      mat-menu-item
      [routerLink]="'/admin'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Admin
    </button>
  </mat-menu>
</header>

<div class="h-20"></div>
