<header
  class="border-b shadow-md p-3 w-full max-h-20 pb-5 fixed top-0 z-50 bg-primary-app"
>
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
    <a routerLink="/" class="flex items-center text-secondary-app">
      <span class="ml-2 text-secondary-app text-2xl font-bold">
        Signs<span class="text-accent-app">&</span>Saints
      </span>
    </a>

    <nav
      class="hidden text-secondary-app md:flex gap-6 uppercase text-lg font-semibold"
    >
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Home
      </a>
      <a
        routerLink="/saints"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Saints
      </a>
      <a
        routerLink="/signs"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Signs
      </a>
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        About Us
      </a>
      <a
        routerLink="/admin"
        routerLinkActive="active"
        class="hover:darken transition"
      >
        Admin
      </a>
    </nav>

    <div class="hidden md:flex gap-4 items-center">
      <a
        routerLink="/account/register"
        class="py-3 px-6 border rounded hover:darken transition text-lg font-semibold text-secondary-app"
      >
        Create Account
      </a>
      <a
        routerLink="/account/login"
        class="py-3 px-6 rounded hover:darken transition text-lg font-semibold"
        style="
          background-color: var(--color-secondary) !important;
          color: var(--color-primary) !important;
        "
      >
        Login
      </a>
    </div>

    <button
      mat-icon-button
      class="md:hidden text-secondary-app hover:darken transition"
      [matMenuTriggerFor]="mobileMenu"
      aria-label="Open menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <mat-menu
    #mobileMenu="matMenu"
    class="bg-primary-app w-48 text-secondary-app"
  >
    <button
      mat-menu-item
      [routerLink]="'/'"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Home
    </button>
    <button
      mat-menu-item
      [routerLink]="'/signs'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Signs
    </button>
    <button
      mat-menu-item
      [routerLink]="'/saints'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      Saints
    </button>
    <button
      mat-menu-item
      [routerLink]="'/about'"
      routerLinkActive="active"
      class="text-lg font-semibold hover:darken"
    >
      About Us
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      [routerLink]="'/account/register'"
      class="text-lg bg-hover hover:darken text-secondary-app"
    >
      Create Account
    </button>
    <button
      mat-menu-item
      [routerLink]="'/account/login'"
      class="text-lg font-semibold rounded hover:darken"
    >
      Login
    </button>
  </mat-menu>
</header>

<div class="h-20"></div>
