<header class="border-b shadow-md p-3 w-full max-h-20 pb-5 fixed top-0 z-50 bg-primary">
    <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
        <a routerLink="/" class="flex items-center text-secondary">
            <span class="ml-2 text-2xl font-bold">
                Signs<span class="text-accent">&</span>Saints
            </span>
        </a>

        <nav class="hidden text-secondary md:flex gap-6 uppercase text-lg font-semibold">
            <a routerLink="/" routerLinkActive="text-accent font-bold" [routerLinkActiveOptions]="{ exact: true }"
                class="hover:darken transition">
                Home
            </a>
            <a routerLink="/saints" routerLinkActive="text-accent font-bold" class="hover:darken transition">
                Saints
            </a>
            <a routerLink="/signs" routerLinkActive="text-accent font-bold" class="hover:darken transition">
                Signs
            </a>
            <a routerLink="/about" routerLinkActive="text-accent font-bold" class="hover:darken transition">
                About Us
            </a>
        </nav>

        <div class="hidden md:flex gap-4 items-center">
            <a routerLink="/account/register"
                class="py-3 px-6 border text-secondary rounded hover:darken transition text-lg font-semibold">
                Create Account
            </a>
            <a routerLink="/account/login"
                class="py-3 px-6 bg-secondary text-primary rounded hover:darken transition text-lg font-semibold">
                Login
            </a>
        </div>

        <button mat-icon-button class="md:hidden text-secondary hover:darken transition"
            [matMenuTriggerFor]="mobileMenu" aria-label="Open menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <mat-menu #mobileMenu="matMenu" class="bg-primary w-48 text-secondary">
        <button mat-menu-item routerLink="/" routerLinkActive="text-accent font-bold"
            class="text-lg font-semibold hover:darken">
            Home
        </button>
        <button mat-menu-item routerLink="/signs" routerLinkActive="text-accent font-bold"
            class="text-lg font-semibold hover:darken">
            Signs
        </button>
        <button mat-menu-item routerLink="/saints" routerLinkActive="text-accent font-bold"
            class="text-lg font-semibold hover:darken">
            Saints
        </button>
        <button mat-menu-item routerLink="/about" routerLinkActive="text-accent font-bold"
            class="text-lg font-semibold hover:darken">
            About Us
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/account/register" class="text-lg bg-hover hover:darken text-secondary">
            Create Account
        </button>
        <button mat-menu-item routerLink="/account/login" class="text-lg font-semibold rounded hover:darken">
            Login
        </button>
    </mat-menu>
</header>

<div class="h-20"></div>
  