<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-grow relative">
    <div class="p-4 pt-10 w-full max-w-screen-xl mx-auto">
      <div
        class="flex flex-col md:flex-row md:items-center md:justify-between gap-4"
      >
        <!-- Group both buttons in a row -->
        <div class="flex gap-2 w-full md:w-auto">
          <button
            mat-flat-button
            class="bg-gray-500 text-white"
            (click)="handleAdvancedSearch()"
          >
            <mat-icon class="mr-1">tune</mat-icon>
            Advanced Filters
          </button>

          <button
            mat-flat-button
            class="bg-gray-500 text-white"
            (click)="clearFilters()"
          >
            <mat-icon class="mr-1">filter_alt_off</mat-icon>
            Clear filters
          </button>
        </div>

        <!-- Search + Order -->
        <div
          class="flex gap-2 items-center w-full sm:w-[220px] md:w-[260px] lg:w-[500px]"
        >
          <!-- Search Input -->
          <mat-form-field appearance="fill" class="flex-1">
            <mat-label>Search</mat-label>
            <input
              matInput
              #searchInput
              type="text"
              placeholder="Search saints..."
              [(ngModel)]="saintFilters.search"
              (keyup.enter)="handleSearch(searchInput.value)"
            />
            <button
              mat-icon-button
              matSuffix
              class="hover:text-blue-800 transition-colors duration-150"
              (click)="handleSearch(searchInput.value)"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <!-- Order By -->
          <mat-form-field appearance="fill" class="min-w-[150px] w-[180px]">
            <mat-label>Order By</mat-label>
            <mat-select
              [(ngModel)]="saintFilters.orderBy"
              (selectionChange)="handleFilterChange('orderBy', $event)"
            >
              <mat-option value="name">Name (A-Z)</mat-option>
              <mat-option value="name_desc">Name (Z-A)</mat-option>
              <mat-option value="century">Century (Asc)</mat-option>
              <mat-option value="century_desc">Century (Desc)</mat-option>
              <mat-option value="feastday">Feast Day (Asc)</mat-option>
              <mat-option value="feastday_desc">Feast Day (Desc)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div
      class="grid gap-4 p-4 w-full max-w-screen-xl mx-auto grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6"
    >
      @if(saints && saints.length > 0){ @for (saint of saints; track saint.id) {
      <ng-container>
        <mat-card
          (click)="redirectToSaintDetails(saint.slug)"
          class="flex flex-col p-3 rounded-2xl shadow-md hover:shadow-xl transition h-full cursor-pointer"
        >
          <div class="flex justify-center mb-2">
            <img
              [src]="imageBaseUrl + saint.image"
              [alt]="saint.name"
              class="w-16 h-16 object-cover rounded-full border border-gray-300"
            />
          </div>

          <div class="flex flex-col flex-1 text-center">
            <h3 class="text-sm font-semibold mb-1">{{ saint.name }}</h3>

            <div
              class="text-xs text-gray-500 mb-1 flex items-center justify-center gap-1"
            >
              <img
                *ngIf="saint.country | countryCode as flagCode"
                [src]="'https://flagcdn.com/w20/' + flagCode + '.png'"
                [alt]="saint.country + ' flag'"
                class="w-4 h-4 object-contain"
              />
              <span>{{ saint.country }} – {{ saint.century | roman }}</span>
            </div>

            <p class="text-xs text-gray-600 line-clamp-3 flex-1">
              {{ saint.description }}
            </p>

            <a
              [routerLink]="['/saints', saint.slug]"
              class="text-primary-app font-semibold pt-5 text-xs hover:underline mt-auto inline-block self-center"
              (click)="$event.stopPropagation()"
            >
              Read More
            </a>
          </div>
        </mat-card>
      </ng-container>
      } } @else {
      <div class="col-span-full text-center text-gray-500 text-sm mt-6">
        No saints found matching your filters.
      </div>
      }
    </div>

    @if(saints && saints.length > 0){
    <div class="py-6 flex justify-center">
      <div class="rounded-xl overflow-hidden shadow-sm border">
        <mat-paginator
          [length]="totalCount"
          [pageIndex]="saintFilters.pageNumber - 1"
          [pageSize]="saintFilters.pageSize"
          [pageSizeOptions]="[25, 50, 100, 200]"
          showFirstLastButtons
          (page)="handlePageChange($event)"
        ></mat-paginator>
      </div>
    </div>
    }
  </main>

  <app-footer></app-footer>
</div>
