<main class="max-w-screen-xl mx-auto p-6">
  <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <a
      routerLink="/admin/dashboard"
      routerLinkActive="bg-hover"
      class="bg-primary-app rounded-2xl p-6 shadow-md transition text-center font-semibold text-secondary-app hover:darken"
    >
      Dashboard
    </a>

    <a
      routerLink="/admin/saints"
      routerLinkActive="bg-hover"
      class="bg-primary-app rounded-2xl p-6 shadow-md transition text-center font-semibold text-secondary-app hover:darken"
    >
      Manage Saints
    </a>

    <a
      routerLink="/admin/miracles"
      routerLinkActive="bg-hover"
      class="bg-primary-app rounded-2xl p-6 shadow-md transition text-center font-semibold text-secondary-app hover:darken"
    >
      Manage Miracles
    </a>

    <a
      routerLink="/admin/users"
      routerLinkActive="bg-hover"
      class="bg-primary-app rounded-2xl p-6 shadow-md transition text-center font-semibold text-secondary-app hover:darken"
    >
      Manage Users
    </a>
  </div>
</main>
