<div
  class="flex flex-col gap-6 p-6 shadow rounded-lg bg-white max-w-4xl mx-auto"
>
  <form [formGroup]="form" class="flex flex-col gap-6" (ngSubmit)="onSubmit()">
    <div class="flex gap-6">
      <div class="w-1/2">
        <label for="imageInput" class="block mb-2 font-semibold">
          Icon image
        </label>

        <label
          for="imageInput"
          class="block aspect-square w-full border-2 border-dashed rounded grid place-items-center text-gray-500 cursor-pointer hover:border-blue-400 hover:text-blue-600 transition overflow-hidden"
        >
          @if (form.get('image')?.value) {
          <img
            [src]="form.get('image')?.value"
            alt="Selected image"
            class="object-cover w-full h-full rounded"
          />
          } @else {
          <div class="flex items-center justify-center">
            <mat-icon
              class="!text-[330px] w-[330px] h-[330px] leading-none text-primary-app"
              fontIcon="add_a_photo"
            ></mat-icon>
          </div>
          }
        </label>

        <input
          id="imageInput"
          type="file"
          accept=".webp,.png,.jpg,.jpeg"
          (change)="onFileSelected($event)"
          class="hidden"
        />
      </div>

      <div class="flex-1 flex flex-col gap-4">
        <label class="block">
          <span class="block pb-2 font-semibold">Name</span>
          <input
            type="text"
            formControlName="name"
            placeholder="Saint's name"
            class="w-full border rounded px-3 py-2"
          />
        </label>

        <label class="block">
          <span class="block pb-2 font-semibold">Country</span>
          <mat-select
            formControlName="country"
            class="w-full border rounded px-3 py-2"
          >
            @for (item of countries; track $index) {
            <mat-option value="">{{ item }}</mat-option>
            }
          </mat-select>
        </label>

        <label class="block">
          <span class="block pb-2 font-semibold">Century</span>
          <mat-select
            formControlName="century"
            class="w-full border rounded px-4 py-2"
          >
            @for (item of centuries; track $index) {
            <mat-option value="">{{ item }}</mat-option>
            }
          </mat-select>
        </label>

        <label class="block">
          <span class="block pb-2 font-semibold">Description</span>
          <textarea
            formControlName="description"
            rows="1"
            placeholder="Saint's brief description"
            class="w-full border rounded px-3 py-2 resize-none overflow-hidden"
            (input)="autoResize($event)"
          ></textarea>
        </label>

        <label class="block">
          <span class="block pb-2 font-semibold">Slug</span>
          <input
            type="text"
            formControlName="slug"
            placeholder="slug-exemplo"
            class="w-full border rounded px-3 py-2"
          />
        </label>
      </div>
    </div>

    <div>
      <label class="block flex flex-col">
        <span class="font-semibold">Markdown</span>
        <md-editor
          formControlName="markdownPath"
          [height]="'300px'"
        ></md-editor>
      </label>
    </div>

    <div class="flex justify-end pt-5">
      <button
        (click)="onSubmit()"
        mat-flat-button
        type="submit"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded inline-flex items-center gap-2"
      >
        <mat-icon class="text-white">
          {{ isEditMode ? "edit" : "add" }}
        </mat-icon>
        {{ isEditMode ? "Update Saint" : "Create Saint" }}
      </button>
    </div>
  </form>
</div>
