<div>
  <div class="flex items-center justify-between mb-6">
    <div class="flex items-center gap-6">
      <h1 class="text-3xl font-bold text-primary-app">Miracles</h1>

      <button (click)="manageTags()" mat-stroked-button color="primary">
        <mat-icon>label</mat-icon>
        <span class="ml-1">Manage Tags</span>
      </button>
    </div>

    <a mat-fab extended [routerLink]="['/admin', 'miracles', 'create']">
      <mat-icon>add</mat-icon>
      Create new Miracle
    </a>
  </div>

  <div class="w-full">
    <app-admin-content-table
      [data]="miracles"
      [excludedColumns]="[
        'image',
        'tags',
        'markdownPath',
        'religiousOrder',
        'slug'
      ]"
      [deleteFn]="deleteMiracle"
      [loadData]="loadMiracles"
    ></app-admin-content-table>
  </div>
</div>
